# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Reports
IndyDidRegistry.json
IndyDidRegistry.md
RevocationRegistry.json
revocationRegistry.md
SchemaRegistry.json
SchemaRegistry.md
CredentialDefinitionRegistry.json
CredentialDefinitionRegistry.md
